.AddressCard_AddressCard_1Hp5qaWLHp {
  display: inline-block;
  padding: 20px;
  box-shadow: 1px 1px 5px #DDD;
}

.AddressCard_AddressCard_1Hp5qaWLHp:hover{
  box-shadow: 3px 3px 8px #DDD;
}

.AddressCard_CoinIcon_19UlC2g02y{
  display: inline-block;
}

.AddressCard_CoinIcon_19UlC2g02y img{
  width: 40px;
  height:40px;
}

.AddressCard_CoinList_2pTE3_gmof{
  display: flex;
  justify-content: center;
}
.Addresses_Addresses_2y9tBA4qAH{
  /*background: ;*/
}

.Addresses_AddressContainer_2O09GLtCgX{
  display: flex;
  justify-content: space-around;
}

/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.Addresses_list_gKdHH8R5nb {
  display: flex;
  flex-wrap: wrap;
}

.Addresses_address_3ETamWbTyD {
  flex: 0 1 50%;
  width: 50%;
  position: relative;
}

.Addresses_address_3ETamWbTyD:nth-child(odd)>div {
    padding-right: 0.5em !important;
  }

.Addresses_address_3ETamWbTyD:nth-child(even)>div {
    padding-left: 0.5em !important;
  }

.Addresses_empty_ZZoSAFSO8m {
  width: 100%;
  display: block;
}

.Addresses_empty_ZZoSAFSO8m div {
    color: #aaa;
  }
